@import '../../less/variables.less';     // только для удобства обращения к переменным


.field-actions {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: (@line-height / 2);

  .btn {
    margin-bottom: (@line-height / 2);
  }
}
