@import '../../less/variables.less';     // только для удобства обращения к переменным


.sliders {
  background-color: #fff;

  &__top {
    width: 100%;
    height: 407px;
    overflow: hidden;
    background-color: #fff;

    .owl-carousel {
      height: 407px;
    }

    .owl-item {
      padding: 1px 1px 1px 0;

      div, img, a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      bottom: 0;
      width: 77px;
      height: 77px;
      background-color: #fff;
      color: #fff;
      cursor: pointer;
    }

    .owl-prev {
      left: 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 51px;
        height: 80px;
        transform: translate(-50%, -47%);
        background-image: url(../img/icon-arr-left.svg);
        transition: all 0.3s ease-out;
      }

      &:after {
        background-image: url(../img/icon-arr-left--hover.svg);
        opacity: 0;
      }

      &:hover, &:focus {
        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    .owl-next {
      right: 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 51px;
        height: 80px;
        transform: translate(-50%, -47%);
        background-image: url(../img/icon-arr-right.svg);
        transition: all 0.3s ease-out;
      }

      &:after {
        background-image: url(../img/icon-arr-right--hover.svg);
        opacity: 0;
      }

      &:hover, &:focus {
        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__bottom {
    min-height: 550px;
    background-color: #fff;
    padding: 35px 0 10px;

    .main-header {
      text-align: center;
      margin-bottom: 47px;
      padding-left: 24px; // УПРТ, но для соответствия макету
    }

  }

  &__pofessionals {
    text-align: center;
    padding: 154px 50px 16px;
    background: #030C23 url(../img/stars.png) 50% 40px no-repeat;

    p {
      color: #4BC19F;
      text-transform: lowercase;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.22em;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__pofessionals-title {
    width: 100%;
    margin: 0 0 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.1em;
  }



  &__prices {
    display: flex;
    flex-wrap: wrap;
  }

  &__prices-title {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  &__prices-item {
    width: 25%;
    height: 216px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-size: cover;
    background-position: center;

    &:first-of-type {
      border-left: 1px solid #fff;
    }
  }

}
