@import '../../less/variables.less';     // только для удобства обращения к переменным


.promo {
  min-height: 765px;
  position: relative;

  &__features {
    min-height: 800px;
    position: relative;
    text-align: center;
    padding: 64px 0;

    .main-header {
      margin: 0;
      margin-bottom: 42px;
    }
  }

  &__video-bg {
    min-height: 100%;
    background-color: #ddd;
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__slider {
    text-align: center;

    .main-header {
      margin: 0;
      padding: 60px 0 2px;
      letter-spacing: 0.035em;
      font-weight: 400;
    }
  }

  &__slider-wrapper {
    background-color: #BBDDEC;
    padding: 55px 0 50px;
  }

  &__slider-items {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  &__slider-item {
    text-align: center;
  }

  &__slider-item-pict {
    min-height: 170px;

    &--auto {
      svg {
        height: 112px;
      }
    }

    &--love {
      svg {
        height: 100px;
        transform: rotate(5deg) translateY(6px);
      }
    }

    &--money {
      transform: translateY(-6px);

      svg {
        height: 118px;
      }
    }

    &--flower {
      transform: translateY(-30px);

      svg {
        height: 150px;
      }
    }
  }

  &__slider-item-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 5px;
  }

  &__slider-item-decription {
    letter-spacing: 0.08em;
  }

  &__action {
    text-align: center;
    padding-top: 61px;
    background-color: #fff;

    .main-header {
      margin: 0;
    }
  }

  &__action-smile {
    display: inline-block;
    padding: 24px 0 32px;
  }
}
