@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();
  background-color: @color-success;
  border: 1px solid #FBC5FF;
  border-radius: 17px;
  padding: 3px 26px 0;
  height: 39px;
  line-height: 1em;
  color: #fff;
  letter-spacing: 0.1em;
}

