@import '../../less/variables.less';     // только для удобства обращения к переменным


.submit-photo {
  background-color: #BBDDEC;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  padding: 22px 0 24px;
  border-bottom: 1px solid #FBC5FF;
  min-height: 170px;

  p {
    margin: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 40px;
    right: 4px;
    width: 94px;
    height: 94px;
    background: url(../img/smile-bordered.png) center no-repeat;
  }
}
