@import '../../less/variables.less';     // только для удобства обращения к переменным


.first-screen {
  position: relative;
  display: flex;
  width: 100%;

  .field-text__input {
    border-color: #BBDDEC;

    &::placeholder {
      color: #475CFF;
    }
  }

  &__top-line {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: #475CFF;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }

  &__top-logo {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-2px);
  }

  &__top-message {
    font-size: 12px;
    line-height: 1;
    padding-left: 70px; // ширина логотипа
    padding-top: 6px;
    letter-spacing: 0.14em;
  }

  &__top-contacts {
    font-size: 16px;
    line-height: 1;
    color: #b7ddeb;
    letter-spacing: 0.075em;
    padding-top: 2px;
    transform: translateY(1px);

    strong {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      padding-right: 17px;
      padding-left: 7px;
      font-weight: 500;
    }
  }

  &__video {
    min-height: 100vh;
    background-color: #ddd;
    flex-grow: 10;
    max-width: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.33);
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__texts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 480px;
    position: relative;
    z-index: 2;
  }



  &__synopsis {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: @color-secondary;
    min-height: 200px;
    padding: 50px 15px 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  &__contact-phone {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
  }

  &__work-time {
    font-size: 11px;
  }

  &__main-text {
    padding-bottom: 2em;
  }

  &__phone {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 1;
    padding-top: 0.5em;
  }

  &__message {
    color: #fff;
    font-size: 48px;
    line-height: 51px;
    font-family: 'Fun City';
    letter-spacing: -0.27em;
    margin-top: 0;
    min-width: 450px;
    transform: translateX(-0.2em);
    margin-bottom: 20px;
  }

  &__description {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.08em;
    font-weight: 500;
    min-width: 450px;

    &--light {
      font-weight: 400;
    }
  }

  &__sup-video {
    position: relative;
    z-index: 9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 95px;
  }

  &__sup-video-top,
  &__sup-video-bottom {

    svg {
      margin-bottom: 40px;
    }

    b {
      display: block;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    p {
      color: @color-secondary;
      text-transform: lowercase;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.22em;
      margin: 0;
    }
  }



  &__fast-upload {
    height: 330px;
    background-color: #0A1946;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;

    .main-header {
      margin-bottom: 1.25em;
      color: #fff;
      font-weight: 400;
      transform: translateY(-8px);
    }

    .field-text__name {
      color: #BBDDEC;
    }

    .field-file {
      padding-top: 0.6em;
    }
  }

  &__to-bottom {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 80px;
    background-color: #fff;
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 53px;
      height: 36px;
      background-image: url(../img/icon-arr-down.svg);
      transition: all 0.3s ease-out;
    }

    &:after {
      opacity: 0;
      background-image: url(../img/icon-arr-down--hover.svg);
    }

    &:hover, &:focus {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}
