@import '../../less/variables.less';     // только для удобства обращения к переменным


.sofa {
  position: relative;
  height: 100vh;
  min-height: 800px;
  background: #D6D5D1 url(../img/sofa.jpg) 50% no-repeat;
  background-size: 1920px 1200px;

  &__step-1 {
    display: none;
  }

  &__upload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    width: 455px;
    height: 228px;
    border: 3px solid #F5F5F5;
    display: flex;
    align-items: center;

    .field-file {
      margin: 0 auto;
    }

    .btn--blue {
      transform: translateY(3px); // УПРТ
    }
  }

  &__help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 318%);
    transition: all 0.3s;

    @media (min-height: 1000px) {
      transform: translate(-50%, 364%);
    }

    h1 {
      margin: 0;
      color: #fff;
      font-size: 30px;
      line-height: 44px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      width: 510px;
    }
  }



  &__step-2 {
    // display: none;
  }

  &__pict {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, e("calc(-50% - 24vh)"));

    img {
      max-width: none;
      box-shadow: -3px 3px 3px rgba(0,0,0,0.69);
    }
  }

  &__sizes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 6%);
  }

  &__sizes-column {
    margin-right: 2px;
    display: none;

    &--center {
      display: block;
    }
  }

  &__more-sizes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-345px, -50%);
    padding-right: 4px;
    min-width: 240px;
  }

  &__sizes-item {
    display: block;
    height: 36px;
    width: 163px;
    line-height: 43px;
    background-color: #fff;
    margin-bottom: 2px;
    padding-left: 28px;
    letter-spacing: 0.29em;
    color: #3d5afe;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px rgba(0,0,0,0.16);

    &:hover, &:focus, &--active {
      color: #fff;
      background-color: #475CFF;
      cursor: pointer;
    }
  }

  &__text {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(50%, -105%);

    @media (min-width: @screen-xl) {
      transform: translate(107%, -105%);
    }
  }

  &__price {
    margin: 0 0 17px;
  }

  &__old-price {
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #7F7F7F;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      left: 0;
      right: 5px;
      height: 5px;
      transform: translateY(-8px) rotate(-20deg);
      background-color: rgba(253,236,164,.8);
    }
  }

  &__new-price {
    font-size: 64px;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    display: block;
    color: #ff3703;
  }

  &__price-r {
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    display: block;
    color: #ff3703;
    transform: translateY(-3px);
  }

  &__descr-wrapper {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.15em;
  }

  &__descr-accent {
    font-weight: 400;
    display: block;
  }

  &__descr-text {
    color: #3d5afe;
    display: block;
  }



  &__form {
    display: none;
  }
}
