@import '../../less/variables.less';     // только для удобства обращения к переменным


.calculator {
  min-height: 100vh;
  background: #FCE3D0;

  &__slider-vertical {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  &__slider-vertical-inner {
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s;
  }

  &__slider-vertical-item {
    width: 100%;
    height: 100vh;
  }
}
